<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
<div class="container">

  <div class="row p-3">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center"><b>Color scheme</b></div>
          <div class="card-body">
          <p>Change your color scheme by clicking on the options below.</p>
            <button type="button" class="submit-color-button active" style="--theme-primary:#2196F3; --theme-secondary:black;" id="blue"></button>
	    <button type="button" class="submit-color-button" style="--theme-primary:orange; --theme-secondary:green;" id="orange"></button>
            <button type="button" class="submit-color-button" style="--theme-primary:#038B30; --theme-secondary:#013D15;" id="green"></button>
            <button type="button" class="submit-color-button" style="--theme-primary:#A16AE8; --theme-secondary:#BEAFC2;" id="purple"></button>
	  </div>
          <div class="card-footer clearfix" style="height:38px">
	  </div>
        </div>
    </div>

    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center"><b>Install languages</b></div>
        <div class="card-body">
          <p>You will soon be able to install new languages for your PeARS, right here. Stay tuned!</p>

        </div>
        <div class="card-footer clearfix">
          <span class="input-group-btn float-end">
            <input id="submit_button" type="submit" class="btn btn-success" value="Coming soon">
          </span>
        </div>
        </form>
      </div>
    </div>
  </div>

</div><!-- /.container -->
{% endblock %}
