<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">

        <title>PeARS pod finder</title>
    </head>

    <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
      <a href="{{ url_for('search.index')}}" class="navbar-left"><img src="{{ url_for('static', filename='pears-logo-small.png')}}" height="50px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('search.index')}}">Search</a></li>
        <li><a href="{{url_for('indexer.index')}}">Indexer</a></li>
        <li><a href="{{url_for('pod_finder.index')}}">Pod management</a></li>
        <li><a href="{{url_for('tree.index')}}">My tree</a></li>
        <li><a href="{{url_for('admin.index')}}">DB admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('pages.return_faq')}}">F.A.Q.</a></li>
        <li><a href="{{url_for('pages.return_acknowledgements')}}">Acknowledgments</a></li>
      <form class="navbar-form navbar-left" action="{{url_for('pod_finder.find_a_pod')}}">
        <div class="form-group">
          <input id="search-box" name="search-pod" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Find a pod</button>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        <div  class="row">
            <div class="col-md-6">
            <br><br>
            <p><b>Pods you could subscribe to</b></p>
            <p>Below, you will find the pods that we think you might be interested in. Click on 'subscribe' to subscribe to that pod.</p><br>
            <form class="form-inline" method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('pod_finder.subscribe')}}">
                <div class="input-group">
                    {% for pod in pods %}
                    <div class="form-check">
		        <label class="toggle">
		        <input type="checkbox" name="pods" id="{{pod[0]}}" value="{{pod[0]}}"> <span class="label-text">{{pod[1]}}, '{{pod[2]}}', {{pod[3]}}</span>
		        </label>
		    </div>
                    {% endfor %}<br>
                    {% if msg %}
                    <p><b>{{msg}}</b></p>
                    {% else %}
                    <input id="submit_button" type="submit" class="btn btn-primary" value="Subscribe">
                    {% endif %}
                </div>
            </form>
            <hr>
            </div>
            <div class="col-md-6">
            <br><br>
            <img src="{{url_for('static', filename='tree-silhouette.png')}}" width='300px'/>
            </div>
        </div>

    </div><!-- /.container -->
    </body>
</html>

