<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet">

        <title>PeARS pod finder</title>
    </head>

    <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
      <a href="{{ url_for('search.index')}}" class="navbar-left"><img src="{{ url_for('static', filename='pears-logo-small.png')}}" height="50px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('search.index')}}">Search</a></li>
        <li><a href="{{url_for('indexer.index')}}">Indexer</a></li>
        <li><a href="{{url_for('pod_finder.index')}}">Pod management</a></li>
        <li><a href="{{url_for('tree.index')}}">My tree</a></li>
        <li><a href="{{url_for('admin.index')}}">DB admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{url_for('pages.return_faq')}}">F.A.Q.</a></li>
        <li><a href="{{url_for('pages.return_acknowledgements')}}">Acknowledgments</a></li>
      <form class="navbar-form navbar-left" action="{{url_for('pod_finder.find_a_pod')}}">
        <div class="form-group">
          <input id="search-box" name="search-pod" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Find a pod</button>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <div class="container">

        <div  class="row">
            <div class="col-md-6">
            <br><br>
            <p><b>Update known pods</b></p>
            <p>Your pear knows about {{num_pods}} pods. You can update your list of known pods by clicking on the button below. </p><br>
            <form class="form-inline" method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('pod_finder.update_pod_list')}}">
                <div class="input-group">
                     <span class="input-group-btn">
                     <input id="submit_button" type="submit" class="btn btn-primary" value="Update known pods">
                     </span>
                </div>
            </form>
            <hr>
            <br>
            <p><b>Find a pod</b></p>
            <p>Looking for pods that may interest you? Enter some keywords below and your pear will try to find appropriate pods for you.
            This function is also available from the title bar at the top right of your screen.</p><br>
            <form class="form-inline" accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('pod_finder.find_a_pod')}}">
                <div class="input-group">
                     <input class="form-control input-s" title="Enter some keywords" placeholder="Enter some keywords" type="text" name="search-pod" id="search-pod">
                     <span class="input-group-btn">
                     <input id="submit_button" type="submit" class="btn btn-primary" value="Find a pod">
                     </span>
                </div>
            </form>
            <hr>
            <br>
            <p><b>Subscribe from URL</b></p>
            <p>Index a pod directly from its URL.</p>

            <form class="form-inline" method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('pod_finder.subscribe_from_url')}}">
                <div class="input-group">
                    <input class="form-control input-s" title="Enter pod." placeholder="http://www.openmeaning.org/pod0/" type="text" id='pod' name='pod'>
                    <span class="input-group-btn">
                    <input id="submit_button" type="submit" class="btn btn-primary" value="Index a pod">
                    </span>
                </div>
            </form>
            <hr>
            <br>
            <p><b>Record pod from file</b></p>
            <p>A friend sent you their pod? Add it to your pear! The file you input should either be in .csv or .png format.</p>
            <form method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('pod_finder.subscribe_from_file')}}">
                <div class="input-group">
                     <input id="file_source" name="file_source" type="file" class="btn btn-default btn-s">
                     <span class="input-group-btn">
                     <input id="submit_button" type="submit" class="btn btn-primary" value="Read file">
                     </span>
                </div>
            </form>
            </div>
            
            <div class="col-md-6">
            <br><br>
            <p><b>Your pods</b></p>
            <p>Below, you will find the pods that your are currently subscribed to. Click on 'unsubscribe' to delete all record of a pod on your pear.</p><br>
            <form class="form-inline" method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('pod_finder.unsubscribe')}}">
                <div class="input-group">
                    {% for pod in pods %}
                    <div class="form-check">
		        <label class="toggle">
		        <input type="checkbox" name="pods" id="{{pod[0]}}" value="{{pod[0]}}"> <span class="label-text">{{pod[0]}}, '{{pod[1]}}'</span>
		        </label>
		    </div>
                    {% endfor %}<br>
                    <input id="submit_button" type="submit" class="btn btn-danger" value="Unsubscribe">
                </div>
            </form>
            </div>
        </div>

    </div><!-- /.container -->
    </body>
</html>

