beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
Flask==2.0.1
Flask-Admin==1.5.8
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jusText==2.2.0
langdetect==1.0.9
lxml==4.6.5
MarkupSafe==2.0.1
numpy==1.20.3
Pillow==8.2.0
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.17
urllib3==1.26.5
Werkzeug==2.0.1
WTForms==2.3.3
