{% extends "base/base.html" %}
{% block body %}
<div class="container">

  <div class="row">
       <div class="col-md-6">
       <h3>Acknowledgements</h3>
       <p>We are grateful to the creators of the following resources:</p>
       <ul>
       <li>The PeARS logo, beautifully designed by <a href="https://www.behance.net/orioncreatives">Orion Chambadiyil</a>.
       <li>The elegant tree silhouette by <a href="https://openclipart.org/user-detail/Chrisdesign">Chrisdesign</a> and available on <a href="https://openclipart.org/detail/166631/tree-silhouette-6">openclipart</a>.</li>
       <li>The cubic orchard on the 'My orchard' page is derived from the picture by <a href="https://www.flickr.com/photos/jsorbie/2242780644/">Jim Sorbie</a> (CC-BY 2.0).</li>
       </ul>
       </div>
       <div class="col-md-6">
       <img src="{{url_for('static', filename='tree-silhouette.png')}}" width='300px'/>
       </div>
  </div> <!-- /row -->
</div> <!-- /container full -->
{% endblock %}