/*
 * SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 
 *
 * SPDX-License-Identifier: AGPL-3.0-only
 */


a {
  color: rgb(3, 139, 48);
}
a:hover {
  color: rgb(1, 61, 21);
}