<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <br><br>
        <div  style="border: 1px solid #ccc; border-radius:10px; padding:15px; height:240px">
        <p><b>You've just picked a PeARS Pod on the topic: <span style="color:rgb(5, 168, 81)">{{query}}</span>!</b></p>
        <p>Your index is available as one pod file at the following location on your machine:<br> <i>{{location}}</i>.</p>
        <p>Now, share your pod! Send the file to your friends, send it to your Grandma on a USB drive... Just share! :)</p>
        </div>
    </div>
    <div class="col-md-6 v-bottom">
        <br><br>
        <img src="/static/pears-slanted.png" width="200px"/>
    </div>
  </div> <!-- /row -->
</div> <!-- /container full -->
{% endblock %}
