<!--
SPDX-FileCopyrightText: 2022 PeARS Project, <community@pearsproject.org>, 

SPDX-License-Identifier: AGPL-3.0-only
-->

{% extends "base/base.html" %}
{% block body %}
  <div class="row">

    <div class="col-lg-12 text-center mt-5">

      <br><br><br>
      <a href="{{ url_for('.index')}}"><img src="{{ url_for('static', filename='pears-logo-small.png')}}"></a>
      <br/><br/><br/>
      <form class="col-lg-12" action="{{url_for('.index')}}">
        <div class="input-group group-lg" style="width:500px;text-align:center;margin:0 auto;">
          <input class="form-control" title="Enter your Search Query." placeholder="Enter your Search Query" type="search" name='q' required>
          <span class="input-group-btn"><button class="btn btn-lg btn-outline-success" type="submit">Search</button></span>
        </div>
      </form>
    </div>
  </div> 
  {% if internal_message %}
  <div class="row">
    <div class="col-lg-12 text-center mt-5">
      <div class="alert alert-info alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{internal_message}}
      </div>
    </div>
  </div>
      {% endif %}

{% endblock %}
