<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

        <title>PeARS indexer</title>
    </head>

    <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#">Brand</a> -->
      <a href="{{ url_for('search.index')}}" class="navbar-left"><img src="{{ url_for('static', filename='pears-logo-small.png')}}" height="50px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('search.index')}}">Search</a></li>
        <li><a href="{{url_for('indexer.index')}}">Indexer</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left" action="{{url_for('pod_finder.return_pods')}}">
        <div class="form-group">
          <input id="search-box" name="search-box" type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Find a pod</button>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <b>{{num_entries}} pages recorded</b>
        <br><br>

        <div  class="row">
            <div class="col-md-6">
            <div  style="border: 1px solid #ccc; border-radius:10px; padding:10px; height:230px">
            <p><b>Index from file</b></p>
            <p>This option requires a .txt file containing the URLs you would like to index, one url per line. Save this file somewhere on your system 
            and select it below. Warning: indexing takes time, so you probably don't want to index thousands of URLs in one go!</p><br>

            <form method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('indexer.from_file')}}">
                <div class="input-group">
                     <input id="file_source" name="file_source" type="file" class="btn btn-default btn-s">
                     <span class="input-group-btn">
                     <input id="submit_button" type="submit" class="btn btn-primary" value="Go">
                     </span>
                </div>
            </form>
            </div>
            </div>

            <div class="col-md-6">
            <div  style="border: 1px solid #ccc; border-radius:10px; padding:10px; height:230px">
            <p><b>Crawl a website</b></p>
            <p>This option lets you input the URL of your favourite website and index all pages on that website. Warning: as for the 'index from file' option,
            indexing may take time depending on the size of the website. We recommend not to index very large websites that way.</p><br>

            <form class="form-inline" method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('indexer.from_crawl')}}">
                <div class="input-group">
                     <input class="form-control input-s" title="Enter a URL." placeholder="Enter a URL" type="text" name='start_url' id='start_url'>
                     <span class="input-group-btn">
                     <input id="submit_button" type="submit" class="btn btn-primary" value="Go">
                     </span>
                </div>
            </form>
            </div>
            </div>
        </div>

            <br>

        <div  class="row">
            <div class="col-md-6">
            <div  style="border: 1px solid #ccc; border-radius:10px; padding:10px">
            <p><b>Index from pod</b></p>
            <p>This option lets you grab indexed URLs from a pod. Select the pod you want to index and go!</p>

            <form class="form-inline" method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('indexer.from_pod')}}">
                <div class="input-group">
                    <!-- <input class="form-control input-lg" title="Enter pod." placeholder="Enter pod" type="text" id='pods' name='pods'> -->
                    {% for pod in pods %}
                    <div class="form-check">
		        <label class="toggle">
		        <input type="checkbox" name="pods" id="{{pod}}" value="{{pod}}"> <span class="label-text">{{pod}}</span>
		        </label>
		    </div>
                    {% endfor %}<br>
                    <input id="submit_button" type="submit" class="btn btn-primary" value="Go">
                </div>
            </form>
            </div>
            </div>

            <div class="col-md-6">
            <div  style="border: 1px solid #ccc; border-radius:10px; padding:10px; height:170px">
            <p><b>Index a single URL</b></p>
            <p>Think you should index your favourite webpage? Enter its URL here!</p><br>

            <form class="form-inline" method="POST"  accept-charset="UTF-8" enctype="multipart/form-data" action="{{url_for('indexer.from_url')}}">
                <div class="input-group">
                     <input class="form-control input-s" title="Enter a URL." placeholder="Enter a URL" type="text" name='url' id='url'>
                     <span class="input-group-btn">
                     <input id="submit_button" type="submit" class="btn btn-primary" value="Go">
                     </span>
                </div>
            </form>
            </div>
            </div>
        </div>

    </div><!-- /.container -->
    </body>
</html>

